<header>
<div class="container">


  <div class="row">

    <div class="col-lg-8">  
      {%if quote%}

      <h1>Welcome to Fluent Exchange</h1>
      <h5>Read exciting and inspirational blog posts</h5>
      <br>
      <strong><p>Here is a quote for you to get you started...</p></strong>
      <div class="quote bg-light rounded-3 p-1 p-lg-2  mb-1 mb-lg-0">
      <p>{{quote.content}}</p>
      <p> ~ {{quote.author}}</p>
    </div>
      
      {% endif %}</div>

    <div class="col-lg-4 hero-img">
      <img src="{{url_for('static',filename='images/hero.jpg')}}" alt="" class="img-fluid align-self-center rounded-3 ">

    </div>
  </div>
</div>

</header>