{% macro displayPosts(post_list,comments_count) %}
{% for post in post_list %}
<div class="card p-3 mb-3 border-0 shadow rounded-2">

  <div class="card-img">
    <img src="{{url_for('static',filename=post.banner_path)}}" alt="" class="img-fluid blog-thumbnail">
  </div>
  <card-text>

    <h2><a href="{{url_for('main.blog_post',id=post.id)}}">{{post.title}}</a></h2>

    <p>{{post.content | truncate(400,True)}}</p>

    <p>By {{post.user.username}} <span><a href="{{url_for('main.blog_post',id=post.id)}}">{{comments_count[post.id] or 0}} Comments</a></span></p>
  </card-text>
</div>
{%endfor%}
{% endmacro %}

{% macro displayFeatured(posts) %}
{% for post in posts[:3] | reverse %}
<div class="card mb-2 p-2">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-img">
        <img src="{{url_for('static',filename=post.banner_path)}}" alt="" class="img-fluid featured-thumbnail">
      </div>
    </div>
    <div class="col-lg-8">
  <h6><a href="{{url_for('main.blog_post',id=post.id)}}"> {{post.title}} </a></h6>
  <p>{{post.content | truncate(100,True)}}</p>
    </div>
  </div>
  </div>
{% endfor %}
{% endmacro %}

{% macro displaySinglePost(post,current_user,format_post) %}

<div class="card border-0 shadow p-5">

  <div class="card-img">
    <img src="{{url_for('static',filename=post.banner_path)}}" alt="" class="img-fluid blog-thumbnail rounded-3">
  </div>
  <div>

    {% if post.user.banner_path %}
    <p><img src="{{url_for('static',post.user.banner_path)}}" alt="" class="avatar rounded-circle m-3"> Written By {{post.user.username}}
    <span>on {{post.created_at}}</span>
    
    </p>
    {% else %}
    <p><img src="{{url_for('static',filename='images/hero.jpg')}}" alt="" class="avatar rounded-circle m-3"> Written By {{post.user.username}}
      <span class=" mx-5"> {{post.created_at}}</span>
    </p>
    

    {% endif %}
  </div>
  <card-text>

    <h2>{{post.title}}</h2>
    <hr>
    <!-- <p>{{post.content}}</p> -->
    <p>{{format_post | safe}}</p>
    {% if current_user.is_authenticated and current_user==post.user %}
    <div class="action">
      <p><a class="btn btn-success" href="{{url_for('main.update',id=post.id)}}">Update</a> <a href="{{url_for('main.delete',id=post.id)}}" class="btn btn-success">Delete</a></p>

    </div>
    {% endif %}
  </card-text>
</div>


{% endmacro %}

{% macro displayComments(commentsList,current_user) %}
{% for comment in commentsList %}

<div class="shadow p-2">
  {% if comment.user.username=='guest' %}
  <p class="badge bg-secondary">Anonymous</p>
  {%else%}
  <p class="badge bg-secondary">{{comment.user.username}}</p>

  {% endif %}
  <p>{{comment.content}}
  </p>
  {% if comment.post.user==current_user %}
  <p class="d-flex justify-content-end"><a href="{{url_for('main.delete_comment',id=comment.id)}}" class="btn bg-danger">Delete</a></p>
  {% endif %}
</div>

{% endfor %}
{% endmacro %}

{% macro displayFlash()  %}

<div class="flash-header d-flex justify-content-center container">
  {% with messages=get_flashed_messages() %}
  {% if get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}

<ul class="flashes list-unstyled">
  {% for message in messages %}
  <li class="bg-danger feed-message text-white text-center fs-4 mt-2 rounded-3">{{message}}</li>
  {%endfor%}
</ul>
{%endif%}

{% elif get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}

<ul class="flashes list-unstyled text-center rounded-3">
  {% for message in messages %}
  <li class="bg-success feed-message text-white text-center fs-4 mt-2 rounded-3">{{message}}</li>
  {%endfor%}
</ul>
{%endif%}
{%endif%}

{% endwith %}
</div>

{% endmacro %}