{% macro displayPosts(post_list) %}
{% for post in post_list %}
<div class="card">

  <div class="card-img">
    <img src="{{url_for('static',filename=post.banner_path)}}" alt="" class="img-fluid blog-thumbnail">
  </div>
  <card-text>

    <h2><a href="{{url_for('main.blog_post',id=post.id)}}">{{post.title}}</a></h2>

    <p>{{post.content}}</p>

    <p>By {{post.user.username}}</p>
  </card-text>
</div>
{%endfor%}
{% endmacro %}

{% macro displayFeatured() %}

<div class="card">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-img">
        <img src="{{url_for('static',filename='images/hero.jpg')}}" alt="" class="img-fluid featured-thumbnail">
      </div>
    </div>
    <div class="col-lg-8">
  <h6>Heading </h6>
  <p>Your content goes here</p>
    </div>
  </div>
  </div>

{% endmacro %}

{% macro displaySinglePost(post,current_user) %}

<div class="card border-0">

  <div class="card-img">
    <img src="{{url_for('static',filename=post.banner_path)}}" alt="" class="img-fluid blog-thumbnail rounded-3">
  </div>
  <div>

    {% if post.user.banner_path %}
    <p><img src="{{url_for('static',post.user.banner_path)}}" alt="" class="avatar rounded-circle m-3"> Written By {{post.user.username}}
    <span>on {{post.created_at}}</span>
    
    </p>
    {% else %}
    <p><img src="{{url_for('static',filename='images/hero.jpg')}}" alt="" class="avatar rounded-circle m-3"> Written By {{post.user.username}}
      <span class=" mx-5"> {{post.created_at}}</span>
    </p>
    

    {% endif %}
  </div>
  <card-text>

    <h2>{{post.title}}</h2>

    <p>{{post.content}}</p>
    {% if current_user.is_authenticated %}
    <div class="action">
      <p><a class="btn btn-success" href="{{url_for('main.update',id=post.id)}}">Update</a> <a href="{{url_for('main.delete',id=post.id)}}" class="btn btn-success">Delete</a></p>

    </div>
    {% endif %}
  </card-text>
</div>


{% endmacro %}